body {
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid black;
    padding: 15px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logoImg {
    width: 12%;
}

.logoImg img {
    width: 100%;
    border-radius: 23px;
}

.logo h1 {
    margin-left: 15px;
    word-spacing: 5px;
    letter-spacing: 11px;
}

.darkMode {
    background: #393939;
    border: 1px solid black;
    width: 75px;
    height: 28px;
    margin-right: 37px;
    border-radius: 17px;
    display: flex;
    align-items: center;
}

.darkMode button {
    border-radius: 34px;
    height: 100%;
    width: 40px;
    transition: 0.3s;
    border: 2px solid #393939;
}

.move {
    transform: translateX(34px);
}

.feather-sun {
    font-weight: bolder;
    font-size: 16px;
    line-height: 23px;
}

.darkBg {
    background-color: #000 !important;
}

.newHeader {
    border-bottom: 3px solid #fff !important;
    color: #fff !important;
}

.mainSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 93px auto;
}

.options {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    margin: 16px 83px;
}

.options img {
    width: 100%;
}

footer {
    border-top: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px 0 10px;
}

.teammates {
    list-style: none;
    display: flex;
    margin: 16px 0 29px;
}

.credit span {
    margin-top: 20px;
    display: block;
    text-align: center;
    letter-spacing: 13px;
    font-size: 17px;
    word-spacing: 7px;
}

.broName {
    margin: 16px 52px;
    letter-spacing: 5px;
    word-spacing: 4px;
    font-weight: bolder;
    font-size: 17px;
}

@media screen and (max-width: 365px) {
    .broName {
        margin: 10px 5px 0 5px;
        font-weight: bolder;
        font-size: 10px;
        letter-spacing: 1px;
        text-align: center;
    }
    .credit span {
        margin-top: 8px;
        display: block;
        text-align: center;
        letter-spacing: 4px;
        font-size: 10px;
        word-spacing: 1px;
    }
    .cpr {
        font-size: 8px;
    }
    .options {
        width: 87px;
        display: flex;
        flex-direction: column;
        font-size: 16px;
        margin: 16px 9px;
        align-items: center;
    }
    .logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .logoImg {
        width: 55px;
    }
    .logoImg img {
        width: 100%;
        border-radius: 9px;
    }
    .logo h1 {
        margin: 0 0 0 12px;
        width: 12px;
        word-spacing: 1px;
        letter-spacing: 3px;
        font-size: 28px;
    }
    .darkMode {
        background: #393939;
        border: 1px solid black;
        width: 27px;
        height: 14px;
        border-radius: 17px;
        display: flex;
        align-items: center;
        margin-right: 0;
    }
    .darkMode button {
        border-radius: 6px;
        height: 100%;
        width: 16px;
        border: 1px solid #393939;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #smallButton i {
        font-size: 8px;
    }
    .move {
        transform: translateX(9px);
    }
}