*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #9f9f9f;
}
.img{
    margin-left: 20px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
    border: 1px solid greenyellow;
}
.navbar-brand{
    font-weight: bold;
    font-size: 25px;
}
.container{
    width: 100%;
}
.nav-link{
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}
.dropdown-menu.show {
    display: block;
    background:#ffc107;
    
}
.card{
    background-color: #9f9f9f;
    
}
.card-body{
    height: 480px;
    display: flex;
    flex-direction: row;    
}
.leftside{
    width: 50%;
    padding-left: 400px;
    padding-top: 120px;
}
.input{
    width: 200px;
    height: 33px;
    border: none;
    border-radius: 5px;
}
.select{
    width: 200px;
    height: 38px;
    border: none;
    border-radius: 3px;
}
.calc{
    width: 200px;
    height: 40px;
    border-radius: 5px;
}
.result{
    width: 200px;
    height: 40px;
    margin-bottom: 5px;
    border: 1px solid black;
    text-align: center;
}
.rightside{
    width: 50%;
    padding-left: 100px;
    padding-top: 50px;
}
.foot{
    margin-top: 10px;
    margin-left: 550px;
    color: white;
}

@media screen and (max-width: 480px){
    .card-body{
        height: 480px;
        display: grid; 
    }
    .leftside{
        width: 50%;
        padding-top: 0px;
        padding-left: 85px;
        margin-bottom: 30px
    }
    .rightside{
        width: 100%;
        padding-top: 0;
    padding-left: 10px;
    }
    .result{
        width: 325px;
        height: 50px;
    }
    .foot{
        display: none;
    }
}
@media screen and (max-width: 780px){
    .card-body{
        height: 480px;
      
    }
    .leftside{
        width: 50%;
        padding-top: 0px;
        padding-left: 85px;
        margin-bottom: 30px
    }
    .rightside{
        width: 100%;
        padding-top: 0px;
    padding-left: 10px;
    }
    .result{
        width: 325px;
        height: 50px;
    }
    .foot{
        display: none;
    }
}
